/* ---------------- HERO ---------------- */
.mBanner {
  display: none;
}

.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.dBanner {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* text over banner */
.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  max-width: 900px;
  padding: 0 16px;
}

.badge {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 12px;
  color: #52489c;
  background: #eeedf5;
  margin-bottom: 16px;
  border: 1px solid #a6a6a6;
}

.heroContent h1 {
  margin: 0 auto;
  font-size: 28px;
  line-height: 38px;
  width: 57%;
}

.solutionSpan {
  color: #52489c;
}

/* ---------------- SOLUTIONS SECTOR ---------------- */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 3rem;
}

/* each row */
.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 64px;
}

/* left/right content */
.content h3 {
  font-size: 22px;
  margin-bottom: 7px;
  color: #131313;
}

.content p {
  max-width: 1050px;
  font-size: 18px;
  align-items: left;
  color: #616161;
  line-height: 26px;
  margin-bottom: 24px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25%;
  font-size: 12px;
  padding: 6px 0px;
  border-radius: 999px;
  background-color: #f6f6f6;
  color: #424242;
  margin-bottom: 16px;
}

.content ul {
  list-style: none;
  padding: 15px;
  margin: 0 0 32px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #f6f6f6;
  max-width: 70%;
  border-radius: 4px;
}

.content li {
  color: #424242;
  display: flex;
  align-items: center;
  gap: 10px;
}

.content li svg {
  color: #4b428e;
  font-size: 24px;
  flex-shrink: 0;
}

/* alternate layout */
.reverse {
  direction: rtl;
}

.reverse > * {
  direction: ltr;
}

.cta {
  padding: 14px 32px;
  border-radius: 999px;
  border: none;
  background: #52489c;
  color: white;
  cursor: pointer;

  font-size: 14px;
  font-weight: 400;
}

/* image */
.imageWrap img {
  width: 100%;
  max-width: 520px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
}

/* fix reversed row (clinicians) */
.reverse .imageWrap img {
  margin-left: 0;
  margin-right: auto;
}

.joinSection {
  padding: 3rem;
}

/* ---------------- mobile ---------------- */

@media (max-width: 768px) {
  /* show mobile banner */
  .mBanner {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  /* hide desktop banner */
  .dBanner {
    display: none;
  }

  .badge {
    padding: 6px 12px;
    font-size: 10px;
  }

  .heroContent h1 {
    font-size: 18px;
    line-height: 20px;
    width: 79%;
    margin: 0 auto;
  }

  .wrapper {
    gap: 3rem;
    padding: 1rem;
  }

  .block {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .reverse {
    direction: ltr;
  }

  /* force image first, then text */
  .block .imageWrap {
    order: 1;
  }

  .block .content {
    order: 2;
  }
  .content h3 {
    font-size: 20px;
  }
  .tag {
    max-width: 45%;
    font-size: 10px;
    padding: 4px 0px;
    margin-bottom: 12px;
  }
  .content ul {
    padding: 10px;
    margin: 0 0 22px 0;
    gap: 7px;
    max-width: 100%;
  }
  .content li svg {
    font-size: 14px;
  }
  .content li {
    font-size: 14px;
  }
  .content p {
    max-width: 100%;
    font-size: 16px;
    line-height: 22px;
  }

  .imageWrap img {
    max-width: 100%;
  }

  .cta {
  padding: 14px 20px;
  font-weight: 200;
  font-size: 12px;
}

.joinSection {
  padding: 1rem;
}

}
